{% extends 'base.html.twig' %}

{% block body %}
{{ parent() }}

<script>
    var produitData = {{ product | json_encode | raw }};
</script>

<div id="app2"></div>

{% block footer %}
    {{ parent() }}
{% endblock %}

{% endblock %}