{% extends 'base.html.twig' %}

{% block body %}
{{ parent() }}

        <div id="app"></div> <!-- Assurez-vous que c'est le point de montage de Vue.js -->

{% block footer %}
    {{ parent() }}
{% endblock %}

{% endblock %}
