{% block stylesheets %}
    {{ encore_entry_link_tags('test') }}
{% endblock %}

{% block body %}


<div class="navbar">
    <div class="navbar-left">
        <a href="" class="textNav">Nos<br>produits</a>
        <a href="" class="textNav">Nos<br>actualités</a>
    </div>
    <div class="navbar-middle">
        <img src="/images/logo.jpg">
    </div>
    <div class="navbar-right">
        <a href="" class="textNav">Contactez<br>nous</a>
        <a href="" class="boutonNav">Profil</a>
    </div>
</div>

<div class="carousel-container">
    <div class="carousel">
      <div class="slide" id="slide1">Slides 1</div>
      <div class="slide" id="slide2">Slides 2</div>
      <div class="slide" id="slide3">Slides 3</div>
    </div>
</div>

<div class="section2">

</div>

<div class="card-container">
    <div class="card1" id="application">
        <button>Télécharger</button>
        <p>Téléchargez l’application Dantec Market</p>
    </div>
    <div class="card1" id="produits">
        <button>Commander</button>
        <p>Commandez nos meilleurs produits</p>
    </div>
    <div class="card1" id="actualité">
        <button>Découvrir</button>
        <p>Découvrez  l’actualité sur le magasin</p>
    </div>
</div>

<div class="card-container">
    <div class="card2" id="catalogue">
        <button>Découvrir</button>
        <p>Découvrez les nouveautés de ce mois</p>
    </div>
    <div class="card2" id="partenaires">
        <button>Découvrir</button>
        <p>Découvrez  nos partenaires</p>
    </div>
</div>

<div class="avis-container">
    <div class="card-avis">
        <div class="etoiles">5 étoiles</div>
        <div class="titre">Titre de l'avis 1</div>
        <div class="avis">C'est un avis fantastique. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        <div class="date">2024-01-01</div>
    </div>
    <div class="card-avis">
        <div class="etoiles">4 étoiles</div>
        <div class="titre">Titre de l'avis 2</div>
        <div class="avis">Un autre avis intéressant. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
        <div class="date">2024-01-05</div>
    </div>
    <div class="card-avis">
        <div class="etoiles">3 étoiles</div>
        <div class="titre">Titre de l'avis 3</div>
        <div class="avis">Un avis moyen. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
        <div class="date">2024-01-10</div>
    </div>
    <!-- Ajoutez autant de cartes d'avis que nécessaire -->
</div>

<footer>
    <div class="footer-container">
    <div class="container-foot">
        <p>Informations légales:</p>
        <ul>
            <li>Mentions légales</li>
            <li>Cookies</li>
            <li>CGV</li>
            <li>Politique de protection des données personnelles</li>
            <li>Mentions légales CGU</li>
        </ul>
    </div>
    <div class="container-foot">
        <p>Suivez nous:</p>
        <ul>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Instagram</li>
        </ul>
    </div>
    </div>
    <div class="footer-container">
    <div class="container-foot">
        <p>Téléchargez l’application Dantec Market:</p>
        <button>google play</button>
        <button>app store</button>
    </div>
    </div>
</footer>




<script>
    document.addEventListener("DOMContentLoaded", function() {
  let currentIndex = 0;
  const totalSlides = document.querySelectorAll(".slide").length;

  function updateCarousel() {
    const carousel = document.querySelector(".carousel");
    const slideWidth = document.querySelector(".slide").clientWidth;
    carousel.style.transform = `translateX(${-currentIndex * slideWidth}px)`;
  }

  function nextSlide() {
    currentIndex = (currentIndex + 1) % totalSlides;
    updateCarousel();
  }

  function prevSlide() {
    currentIndex = (currentIndex - 1 + totalSlides) % totalSlides;
    updateCarousel();
  }

  setInterval(nextSlide, 3000); // Change slide every 3 seconds
});
</script>

{% endblock %}
