@import "~bootstrap/scss/bootstrap";
body {
    background-image: url('/public/images/fond.png'); /* Mettez à jour le chemin selon votre structure de dossier */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Pour que le fond soit fixe lors du défilement de la page */

}

.navbar {
    background-color: #000; /* Utilisation d'une couleur noire pour le fond */
    height: 65px; /* Hauteur de la navbar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.navbar-logo img {
    height: 80px; /* Ajustez selon la taille souhaitée */
}

.navbar-menu {
    margin-left: auto; /* Cela pousse la liste du menu vers la droite */
    list-style-type: none;
    display: flex;
}

.navbar-menu li a {
    color: rgb(88, 85, 62); /* Texte doré */
    text-decoration: none;
    padding: 10px;
    display: block;
    font-weight: bold; 
}

.navbar-search {
    display: flex;
    align-items: center;
}

.navbar-search input {
    padding: 5px;
}

.navbar-search button {
    background: none;
    border: none;
    cursor: pointer;
}
.registration-frame {
    background-color: white;
    border: 2px solid #A52A2A; /* Marron */
    border-radius: 15px;
    padding: 20px;
    margin: 20px 200px; /* 20px en haut et en bas, 200px à gauche et à droite */
}
.form-group {
    margin-bottom: 15px;
}
.form-control {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
.form-control:focus {
    border-color: #A52A2A; /* Marron */
}
.btn-primary {
    background-color: #A52A2A; /* Marron */
    border-color: #A52A2A;
    padding: 10px 15px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}
.btn-primary:hover {
    background-color: darken(#A52A2A, 10%);
}
.container-body {
    background-image: url('/public/images/fond.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; /* Centrer l'image dans le conteneur */
    margin-top: 10px;
    padding: 20px;
    width: 100%; /* Assurez-vous que le conteneur prend toute la largeur */
    min-height: 400px; /* Ajustez en fonction de la taille de votre image et du contenu */
}
