.carousel-container {
    perspective: 1200px; /* Augmenter la perspective pour un effet de profondeur plus marqué */
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    margin: auto;
  }
  
  .carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: rotate 20s infinite linear;
  }
  
  @keyframes rotate {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
  }
  
  .carousel-item {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    opacity: 0.9;
    border: 1px solid #fff; /* Ajouter une bordure pour renforcer l'effet 3D */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Ombres pour un effet de profondeur */
  }
  
  /* Positionnement et images spécifiques */
  .image1 { background-image: url('/public/images/image1.jpg'); transform: rotateY(0deg) translateZ(400px); }
  .image2 { background-image: url('/public/images/image2.jpg'); transform: rotateY(90deg) translateZ(400px); }
  .image3 { background-image: url('/public/images/image3.jpg'); transform: rotateY(180deg) translateZ(400px); }
  .image4 { background-image: url('/public/images/image4.jpg'); transform: rotateY(270deg) translateZ(400px); }
  