body {
    background: #FAFAFA;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
}
.container{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    width: 100%;
}

/* Default styles for navbar */
.navbar {
    z-index: 1;
    position: relative;
    height: calc(7vh + 60px); /* 7vh + 30px top + 30px bottom */
    width: 100%;
    display: flex;
    align-items: center; /* Align items vertically in the middle */
    justify-content: center;
    background-color: #2D2D2D;
}

.navbar-left {
    display: flex;
    align-items: center; /* Align items vertically in the middle */
    width: 30%;
    height: 100%;
    flex-shrink: 0;
    padding-left: 20vh; /* Adjust the padding as needed */
    padding-bottom: 45px;
}

.navbar-middle {
    display: flex;
    align-items: center; /* Align items vertically in the middle */
    width: 30%;
    height: 100%;
    flex-shrink: 0;
    padding-left: 22.5vh; /* Adjust the padding as needed */
    padding-top: 140px;
}

.navbar-middle img {
    width: 30vh;
    height: auto;
    border-radius: 50%;
}

.navbar-right {
    display: flex;
    align-items: center; /* Align items vertically in the middle */
    width: 40%;
    height: 100%;
    flex-shrink: 0;
    padding-left: 10vh; /* Adjust the padding as needed */
    padding-bottom: 45px;
}

.textNav {
    text-decoration: none;
    color: #FAFAFA;
    text-align: center;
    font-family: 'Inter Bold', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-right: 100px;
    -webkit-text-stroke: 1px #000;
}

.boutonNav {
    width: 184px;
    height: 65px;
    flex-shrink: 0;
    background: linear-gradient(113deg, #DFBA61 34.85%, #F3E5AB 95.45%);
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.63);
    text-decoration: none;
    color: #2D2D2D;
    text-align: center;
    font-family: Inter;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.carousel-container {
    z-index: 2;
    width: 100%;
    height: 75%;
    overflow: hidden;
}

.carousel {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-pagination {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 125px;
    width: 100%;
}

.pagination-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 10px;
    border: #000;
    cursor: pointer;
    background-color: #FAFAFA;
}

.pagination-button.active {
    background-color: #BBEB86; /* Couleur verte pour le bouton actif */
}

.slide {
    min-width: 100%;
    height: 100%;
    background-repeat:repeat;
    background-size: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.slide p {
    width: 1026px;
    height: 284px;
    flex-shrink: 0;
    color: #FAFAFA;
    text-align: center;
    font-family: 'Inter Black';
    font-size: 96px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    -webkit-text-stroke: 2px #2D2D2D;
    margin: 3% 7.5%;
}

.slide#slide1 {
    background-image: url('/public/images/dantecMarket1.1.jpg');
}

.slide#slide2 {
    background-image: url('/public/images/dantecMarket2.1.jpg');
}

.slide#slide3 {
    background-image: url('/public/images/partenaires.1.jpg');
}

.section2 {
    width: 100%;
    height: 605px;
    flex-shrink: 0;
    background: #2D2D2D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper {
    width:90%;
    height: 100%;
}
 
.swiper-slide {
    background-size: cover;
    width: 250px;
}
 
.swiper-slide img {
    display: block;
    width: 100%;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent , #0002 , #0004);
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap; /* Permet aux cartes de passer à la ligne si l'espace est insuffisant */
}

.card-container button {
    width: 375px;
    height: 95px;
    flex-shrink: 0;
    background: linear-gradient(113deg, #DFBA61 34.85%, #F3E5AB 95.45%);
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.63);
    text-decoration: none;
    color: #2D2D2D;
    text-align: center;
    font-family: Inter;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right:20%;
}

.card-container p{
    width: 501px;
    height: 307px;
    flex-shrink: 0;
    color: #FAFAFA;
    font-family: 'Inter Black', sans-serif;
    font-size: 65px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    -webkit-text-stroke: 3px #000;
}

.card-container .card1 button {
    position: relative;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.card-container .card1 p {
    position: relative;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}

.card1 {
    width: 30%;
    height: 75vh;
    flex-shrink: 0;
    border: 5px solid #000;
    margin-right: 10px; 
}

.card1#application {
    background-image: url('/public/images/application.jpg');
}

.card1#produits {
    background-image: url('/public/images/produits.jpg');
}

.card1#actualité {
    background-image: url('/public/images/dantecMarket1.jpg');
}

.card2 {
    width: 95vh;
    height: 75vh;
    flex-shrink: 0;
    border: 5px solid #000;
    margin-right: 10px; /* Ajustez la marge selon vos besoins pour l'espace entre les cartes */
    margin-bottom: 10px; 
}

.card-container .card2 button {
    position: relative;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.card-container .card2 p {
    position: relative;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}

.card2#catalogue {
    background-image: url('/public/images/catalogue.jpg');
}

.card2#partenaires {
    background-image: url('/public/images/partenaires.jpg');
}

.avis-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permet aux cartes d'avis de passer à la ligne si l'espace est insuffisant */
    margin-top: 20px; /* Ajoutez une marge en haut pour l'espace entre les cartes d'avis et les autres conteneurs */
}

.card-avis {
    width: 25%;
    height: 50vh;
    flex-shrink: 0;
    background: #E3E3E3;
    margin-right: 50px; /* Ajustez la marge selon vos besoins pour l'espace entre les cartes d'avis */
    margin-bottom: 10px; /* Ajoutez une marge en bas pour l'espace entre les lignes */
}

.titre,
.avis,
.date {
    width: 100%;
    font-family: Inter;
    line-height: normal;
}

.titre {
    font-size: 36px;
    font-weight: 700;
    color: #000;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 15%;
}

.avis {
    font-size: 32px;
    font-weight: 500;
    color: #000;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 15%;
}

.date {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin-top: 10px; /* Ajout d'une marge entre l'avis et la date */
    text-align: right;
}

.etoiles {
    width: 100px;
    height: 49px;
    flex-shrink: 0;
    display: flex;
    position: relative;
}

.etoiles[data-rating="5"] p[id="1"],
.etoiles[data-rating="5"] p[id="2"],
.etoiles[data-rating="5"] p[id="3"],
.etoiles[data-rating="5"] p[id="4"],
.etoiles[data-rating="5"] p[id="5"] {
    color: #DFBA61;
}

.etoiles[data-rating="4"] p[id="1"],
.etoiles[data-rating="4"] p[id="2"],
.etoiles[data-rating="4"] p[id="3"],
.etoiles[data-rating="4"] p[id="4"] {
    color: #DFBA61;
}

.etoiles[data-rating="3"] p[id="1"],
.etoiles[data-rating="3"] p[id="2"],
.etoiles[data-rating="3"] p[id="3"] {
    color: #DFBA61;
}

.etoiles[data-rating="2"] p[id="1"],
.etoiles[data-rating="2"] p[id="2"] {
    color: #DFBA61;
}

.etoiles[data-rating="1"] p[id="1"] {
    color: #DFBA61;
}

.etoiles p {
    color: #D9D9D9;
    -webkit-text-stroke: 2px #2D2D2D;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-decoration: none;
    font-size: 50px;
    margin: 0 2px;
}

.etoiles p:not(:first-child) {
    margin-left: 5px; /* Ajustement de la marge à gauche pour les étoiles suivantes */
}



footer {
    width: 100%;
    height: 50%;
    flex-shrink: 0;
    background: #2D2D2D;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FAFAFA;
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.container-foot {
    width: 50vh;
    height: 30%;
    margin-right: 50px;
    margin-bottom: 10px;
}

.container-foot p,
.container-foot ul{
    width: 100%;
    height: 10%;
    flex-shrink: 0;
    color: #FAFAFA;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
}

.container-foot p {
    font-family: 'Inter Black', sans-serif;
    font-weight: 900;
}

.container-foot ul {
    font-family: Inter;
    font-weight: 1001;
}

.container-foot ul {
    list-style-type: none;
    padding: 0;
}

.container-foot ul li {
    margin-bottom: 5px;
}

.container-foot button {
    width: 180px;
    height: 50px;
    border-radius: 50px;
    margin-top: 10px;
    background-size: cover; /* Ajuste la taille de l'image pour couvrir complètement le bouton */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    color: #FAFAFA;
    font-family: 'Inter Black', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    border: none;
    cursor: pointer;
}

.container-foot button#googlePlay {
    background-image: url('/public/images/googlePlay.png');
}

.container-foot button#appStore {
    background-image: url('/public/images/appStore.png');
}

.footer-container#deuxieme {
    padding-bottom: 13%;
}

.container-foot#haut {
    margin-bottom: 80px;
}





@media screen and (min-width: 1920px) {
    .navbar-left, .navbar-middle, .navbar-right {
        padding-left: 5%;
    }

    .navbar-middle img {
        width: 15vh;
    }

    .navbar-middle, .navbar-right {
        padding-left: 10vh;
    }

    .textNav {
        font-size: 24px;
        padding-right: 50px;
    }

    .boutonNav {
        width: 150px;
        height: 50px;
        font-size: 24px;
    }

    .slide p {
        width: 70%;
        font-size: 36px;
    }

    .pagination-button {
        width: 15px;
        height: 15px;
        margin: 0 5px;
    }

    .card-container button {
        width: 250px;
        height: 65px;
        font-size: 24px;
    }

    .card-container p {
        width: 70%;
        font-size: 36px;
    }

    .card-container .card1, .card-container .card2 {
        width: 40vh;
        height: 60vh;
    }

    .avis, .titre, .date {
        font-size: 24px;
    }

    .etoiles p {
        font-size: 30px;
    }

    footer {
        height: 40%;
    }

    .container-foot {
        width: 35vh;
    }

    .container-foot p, .container-foot ul {
        font-size: 18px;
    }

    .container-foot button {
        width: 120px;
        height: 40px;
        font-size: 14px;
    }
}

@media screen and (max-width: 1920px) {
    /* Ajouter des styles adaptés aux résolutions inférieures si nécessaire */
}

/* Ajout de styles pour les résolutions spécifiques des téléphones */
@media screen and (max-width: 767px) {
    .navbar {
        height: calc(7vh + 0px);
    }

    .navbar-left, .navbar-middle, .navbar-right {
        width: 30%;
        padding: 10px;
    }

    .navbar-middle img {
        width: 25%;
    }

    .navbar-middle, .navbar-right {
        padding: 0;
    }

    .textNav {
        font-size: 18px;
        padding: 0;
    }

    .boutonNav {
        width: 120px;
        height: 40px;
        font-size: 14px;
    }

    .carousel-container {
        width: 100%;
        height: 17%;
    }

    .slide p {
        width: 20%;
        height: 10px;
        font-size: 35px;
        margin: 12.5vh 9.5vh;
        -webkit-text-stroke: 1.2px #2D2D2D;
    }

    .carousel-pagination {
        bottom: 715px;
    }

    .pagination-button {
        width: 8px;
        height: 8px;
        margin: 0 3px;
    }

    .card-container button {
        width: 180px;
        height: 45px;
        font-size: 18px;
    }

    .card-container p {
        width: 90%;
        font-size: 24px;
    }

    .card-container .card1, .card-container .card2 {
        width: 80vw;
        height: 40vh;
    }

    .avis, .titre, .date {
        font-size: 16px;
    }

    .etoiles p {
        font-size: 20px;
    }

    footer {
        height: 60%;
    }

    .container-foot {
        width: 80%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .container-foot p, .container-foot ul {
        font-size: 14px;
    }

    .container-foot button {
        width: 100px;
        height: 30px;
        font-size: 12px;
    }
}