{% extends 'base.html.twig' %}

{% block navbar%}
<nav class="navbar" style="position: relative;">
  <div class="container-fluid">
    <!-- Insérez ici les autres éléments de votre navbar si nécessaire -->
  </div>
  <a class="navbar-brand" href="#" style="position: absolute; left: 50%; transform: translateX(-50%); top: 0;">
    <div style="width: 100px; height: 100px; border-radius: 50%; overflow: hidden; position: relative; top: 50%; margin-top: 30px;">
      <img src="/images/logo.jpg" alt="Image" style="width: 100%; height: auto;">
    </div>
  </a>
</nav>
{% endblock %}

{% block body %}
<div class="container-body">
    <!-- Le contenu de votre corps de page ici -->
</div>
<div class="container">
<div class="nouveautes-container">
        <h1 style="font-size: 25px;">Nos nouveautés</h2>
        <!-- Additional content for this section can go here -->
    </div>

    <div class="row">
        <!-- Frame 1 -->
        <div class="col">
            <div class="frame">Content for frame 1</div>
        </div>

        <!-- Frame 2 -->
        <div class="col">
            <div class="frame">Content for frame 2</div>
        </div>

        <!-- Frame 3 -->
        <div class="col">
            <div class="frame">Content for frame 3</div>
        </div>
    </div>
</div>
{% endblock %}
