{% extends 'base.html.twig' %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

{% block body %}
<div class="container-body">
    <!-- Le contenu de votre corps de page ici -->
</div>
{% endblock %}
