{% extends 'base.html.twig' %}

{% block body %}
{{ parent() }}
<body class="page-actualite">

    <div id="app13">
    </div>

    {% block footer %}
        {{ parent() }}
    {% endblock %}

</body>
{% endblock %}