{% extends 'base.html.twig' %}

{% block body %}
{{ parent() }}
<body class="lactu">

    <div id="app12"></div>
    
    {% block footer %}
        {{ parent() }}
    {% endblock %}
</body>
{% endblock %}